#topspace {
	height: 60px;
	display: block;
}

#name {
	height: 50px;
	display: block;
	position: relative;
	z-index: 0;
}

#midspace {
	height: 40px;
	display: block;
}

#gallery {
	height: 100px;
	display: block;
	z-index: 0;
}

.img {
	height: 100px;
	width: 100px;
	display: block;
	z-index: 1;
	margin: 5px;
    border: 1px solid #ccc;
    float: center;
}

#about {
	display: block;
	position: relative;
	z-index: 0;
}

#navigation {
	position: fixed left;
	z-index: 0;
}