p {
	font-family: Helvetica;
	text-align: center;
	font-size: 14px;
}

h1 {
	font-size: 50px;
	letter-spacing: 10px;
	color: black;
	font-family: Georgia;
	text-align: center;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

#topspace {
	height: 120px;
	display: block;
}

#name {
	height: 50px;
	display: block;
}

#midspace {
	height: 40px;
	display: block;
}

#about {
	display: block;
}

a {
	color: blue;
	text-decoration: none;
}

span {
	color: red;
	text-decoration: none;
}

img {
	height: 50%;
	width: 50%;
}