p {
	font-family: Helvetica;
	text-align: center;
	font-size: 14px;
}

h1 {
	font-size: 50px;
	letter-spacing: 10px;
	color: black;
	font-family: Georgia;
	text-align: center;
}

body {
	height: 100%;
	width: 100%;
	background: url(jamesblake.jpg)
}

#topspace {
	height: 120px;
	display: block;
}

#name {
	height: 50px;
	display: block;
}

#midspace {
	height: 40px;
	display: block;
}

#about {
	display: block;
}

a {
	color: blue;
	text-decoration: none;
}

span {
	color: red;
	text-decoration: none;
}

img {
	height: 50%;
	width: 50%;
}