p {
	font-family: Helvetica;
}

title {
	font-size: 30px;
	font-family: Georgia;
	text-align: center;
}

a {
	color: blue;
	text-decoration: none;
}

span {
	color: red;
	text-decoration: none;
}

img {
	height: 50%;
	width: 50%;
}