p {
	font-family: Helvetica;
}

h1 {
	font-size: 20px;
	font-family: Century;
}

a {
	color: blue;
	text-decoration: none;
}

span {
	color: red;
	text-decoration: none;
}

img {
	height: 50%;
	width: 50%;
}