#time {
	color: red;
	font-family: Courier;
	font-size: 30px;
	margin-left: 1%;
	margin-top: 1%;
}

img {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	opacity: 0.3;
	z-index: -1;

}